/* body {
    background: #EEF2FF;
}


.section-title{
  text-align: center;
  color:black;
}

.parent-heading{
    text-align: center;
}

html{
    scroll-behavior: smooth;
}
 
.title{
    text-align: center;
}

.button{
    background: #171717;
    color: #ffffff;
    border-radius: 50px;
    font-size: 14px;
    width: 160px;
    height: 48px;
}

.title{
    background-color: #171717;
    color: #ffffff;
    
} */

 